bin/*
obj/*
*.o

# Visual studio stuff
*.user
*.ncb
*.suo

# Codeblocks stuff
*.depend
*.layout
*.cbTemp
*.cscope_file_list
cscope.out

docs/html/*
libs/geographiclib-1.1/libs/*
Path
libs/geographiclib-1.1/windows/Debug/*
libs/geographiclib-1.1/windows/Release/*
libs/geographiclib-1.1/xcode/build/*
.DS_Store
