bin/*
*.user
*.ncb
*.suo
obj/*
doc/html/*
*.depend
*.layout
*.o
libs/geographiclib-1.1/libs/*
Path
libs/geographiclib-1.1/windows/Debug/*
libs/geographiclib-1.1/windows/Release/*
libs/geographiclib-1.1/xcode/build/*
